<div class="text-center">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="display-6">Hey! I'm Vidyuth</h1>
            <div>A college student, lifelong learner and emerging life adventurer.</div>
            <div><img src="assets/Vidyuth.jpg" height="400px" width="32 0px" alt="Here goes Vidyuth's picture" /></div>
            <div>Here's My Story</div>
            <div>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="col-4"></div>
    </div>
    </div>



